[Unit]
Description=App para obtener Topic de MQTT
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/config_equipos
ExecStart=/usr/bin/python3 /home/admin/config_equipos/get_config.py 
Restart=always

[Install]
